/* Navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* Home Section */
#home{
    height: 370px;
    padding: 3px 28px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;
}

/* Services Section */
#Services{
    flex-direction: column;
}
#services .box{
    padding: 14px;
    margin: 1px 0px;
    border: 2px solid brown;
    border-radius: 23px;
    background-color: rgb(177, 174, 174);
}

/* Client Section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 66px;
    padding: 6px;
    height: auto;
}
/* Contact Us Section */
#contact-box form{
    width: 80%;
}

/* Footer */

/* Utility Classes */
.h-primary{
    font-size: 23px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}